img{
    width: 5vw;
    height: 5vw;
}

.cell{
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
    background-color: #3F51B5;
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 3px;
}

p{
    font-size: large;
    font-weight: bold;
}