img{
    width: 25px;
    height: 25px;
}

.cell{
    width: 30px;
    height: 30px;
    background-color: #3F51B5;
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 3px;
}

p{
    font-size: large;
    font-weight: bold;
}