.main{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

app-tic-tac-toe-square{
    border: 2px black solid;
    height: 150px;
    
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9EB7E5;
    width: 70vw;
    height: 70vh;
    border: 2px solid black;
}


