.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black;
    width: 70vw;
    height: 70vh;
    background-color: #9EB7E5;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
}






