  <div class="game">
    <h1>{{msg}}</h1>
    <div class="field" *ngIf="!gameover">
      <div class="row" *ngFor="let row of content; let i = index;">
        <div class="space" *ngFor="let cell of row; let j = index;">
          <app-minesweeper-square [clicked]="spaces[i][j]" [value]="content[i][j]" (click)="step(i,j)"></app-minesweeper-square>
        </div>
      </div>
    </div>
    <button mat-fab color="primary" (click)="ngOnInit()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>