<div class="main">
    <img class="logo" src="assets/img/projectlogo.png">
    <p class="tittle">Abel Games</p>
</div>
<div class="login">
    <form (submit)="setName()">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Insert your username</mat-label>
                <input matInput placeholder="Insert your name here.">
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary">Set name</button>
    </form>
</div>