<div class="main">
    <p>This project is part of the PMDM subject cursed in the second year of
        CFGS Desarrollo de Aplicaciones Multiplataforma.
    </p>
    <p>The intention of this project is learning about angular and the tools
        it provides to the developer, such as routing, input, output, parent-child
        components, modules and lazy loading.
    </p>
    <p>Behind you can find the developers that worked in this project, by clicking
        them you access their github page where you can see other works they have
        made.
    </p>
    <a href="https://github.com/AbelAlonso98" target="_blank">
        <div class="developer">
            <div class="text">
                <h1>Abel Alonso Jim&eacute;nez</h1>
                <p>The CEO of the project and main developer</p>
            </div>
            <img src="assets/img/avatar1.png">
        </div>
    </a>
    <a href="https://ignaciofp.es/es" target="_blank">
        <div class="developer">
            <div class="text">
                <h1>Ignacio Fern&aacute;ndez Prieto</h1>    
                <p>Front-end development</p>
            </div>
            <img src="assets/img/avatar1.png">
        </div>
    </a>
    <a href="https://github.com/dag45684" target="_blank">
        <div class="developer">
            <div class="text">
                <h1>Carlos Manso Gonz&aacute;lez</h1>
                <p>Game design and back-end assistance</p>
            </div>
            <img src="assets/img/avatar2.png">
        </div>
    </a>
    <a href="https://pabloeguilaz.es" target="_blank">
        <div class="developer">
            <div class="text">
                <h1>Pablo Eguilaz P&eacute;rez</h1>
                <p>Front-end design architect</p>
            </div>
            <img src="assets/img/avatar2.png">
        </div>
    </a>
</div>