<div class="main">
    <div class="developer">
        <div class="text">
            <h1>Abel Alonso Jim&eacute;nez</h1>
            <p>The CEO of the project and main developer</p>
        </div>
        <img src="assets/img/13.png">
    </div>
    <div class="developer">
        <div class="text">
            <h1>Ignacio Fern&aacute;ndez Prieto</h1>
            <p>Front-end development</p>
        </div>
        <img src="assets/img/13.png">
    </div>
    <div class="developer">
        <div class="text">
            <h1>Carlos Manso Gonz&aacute;lez</h1>
            <p>Game design and back-end assistance</p>
        </div>
        <img src="assets/img/13.png">
    </div>
</div>