<div class="main">
    <div class="tittle">
        <h1>Abel Alonso Jim&eacute;nez</h1>
    </div>
    <div class="section">
        <div class="data">
            <mat-icon>alternate_email</mat-icon>
            <p>abelalonsojimenez@gmail.com</p>
        </div>
        <div class="data">
            <mat-icon>perm_phone_msg</mat-icon>
            <p>644171684</p>
        </div>
        <div class="data">
            <mat-icon>room</mat-icon>
            <p>Langreo, Asturias</p>
        </div>
    </div>
    <hr>
    <div class="section">
        <h2>Education</h2>
        <ul>
            <li>CFGS Desarrollo de Aplicaciones Multiplataforma</li>
            <li class="school">IES Doctor Fleming, Oviedo</li>
            <li>Certificado C1 Inglés</li>
            <li class="school">Escuela Oficial de Idiomas de Langreo</li>
        </ul>
    </div>
    <hr>
    <div class="section">
        <h2>Technological Stack</h2>
        <div class="stack">
            <ul>
                <li class="listTitle">Programming languages</li>
                <li>Java</li>
                <li>C</li>
                <li>C++</li>
                <li>C#</li>
                <li>Python</li>
                <li>PHP</li>
            </ul>
            <ul>
                <li class="listTitle">Database management</li>
                <li>SQL</li>
                <li>PLSQL</li>
                <li>Oracle</li>
                <li>MySQL</li>
                <li>SQLite</li>
                <li>MongoDB</li>
                <li>Hibernate</li>
            </ul>
            <ul>
                <li class="listTitle">Other</li>
                <li>Angular</li>
                <li>Network maintenance</li>
            </ul>
        </div>
    </div>
</div>