<div class="main">
    <section class="flex gap-8 w-50">
        <p class="text-3xl font-bold">Abel Alonso Jim&eacute;nez</p>
        <hr class="inline-block h-[250px] min-h[1em] w-0.5 self-stretch bg-pink-500 dark:bg-white/10">
        <article class="flex flex-col [&>p]:mb-4">
            <p>Abel is the project CEO and responsable of doing all the games.
            </p>
            <p>He also organized the team structure, setting tasks to
                the different developers working here.
            </p>
            <p>Abel is not really good at Front-End, so Nacho was a 
                very important part of this project.
            </p>
        </article>
        <hr class="inline-block h-[250px] min-h[1em] w-0.5 self-stretch bg-pink-500 dark:bg-white/10">
        <aside>
            <img class="w-64 rounded-full
        " src="assets/img/13.png">
        </aside>
    </section>
    <section class="flex gap-8 w-50">
        <p class="text-3xl font-bold">Ignacio Fern&aacute;ndez Prieto</p>
        <hr class="inline-block h-[250px] min-h[1em] w-0.5 self-stretch bg-pink-500 dark:bg-white/10">
        <article class="flex flex-col [&>p]:mb-4">
            <p>Ignacio (Nacho) is in charge of every single aspect of the
                user interface. He is specialized in front-end development </p>
            <p>He is a little bit messy so his code must be inspected carefully,
                he might be a brilliant mind but sometimes his sanity is out of
                place.
            </p>
            <p>He also introduced TailWind in this part of the project.</p>
        </article>
        <hr class="inline-block h-[250px] min-h[1em] w-0.5 self-stretch bg-pink-500 dark:bg-white/10">
        <aside>
            <img class="w-64 rounded-full
        " src="assets/img/13.png">
        </aside>
    </section>
    <section class="flex gap-8 w-50">
        <p class="text-3xl font-bold">Carlos Manso Gonz&aacute;lez</p>
        <hr class="inline-block h-[250px] min-h[1em] w-0.5 self-stretch bg-pink-500 dark:bg-white/10">
        <article class="flex flex-col [&>p]:mb-4">
            <p>Carlos is by far the most intelligent person in this project. His 
                experience in the app development helped us in every aspect of the
                project.
            </p>
            <p>Also the idea of doing the minesweeper was his, but his code was too
                complicated so we decided to make some changes.
            </p>
            <p>We hope to see Carlos around in the next projects.</p>
        </article>
        <hr class="inline-block h-[250px] min-h[1em] w-0.5 self-stretch bg-pink-500 dark:bg-white/10">
        <aside>
            <img class="w-64 rounded-full
        " src="assets/img/13.png">
        </aside>
    </section>
</div>